.quote .wiki .panel-footer ul{
  font-family: 'Montserrat', sans-serif;
}
.row.no-gutters {
  margin-right: 0px;
  margin-left: 0;
}
.desc {
  font-size: 2.0em;
  font-weight: 100;
}

.quote {
  font-size: 1.70em;
  font-weight: 300;
}

ul {
  font-size: 1.15em;
  font-weight: 300;
}

.wiki {
  font-size: 1.70em;
  font-weight: 350;
}

.panel-footer {
  font-weight: 400;
  border-radius: 5px;
}
